<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            Thank You!
            <br>
            <br>
            <a href="/">Purchase More!</a>
        </h2>
    </div>
</div>